[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
xmltodict = "*"
python-telegram-bot = "*"
"beautifulsoup4" = "*"
mako = "*"
flask-mako = "*"
wtforms = "*"
marshmallow = "*"
aiohttp = "*"
peewee = "*"
pymysql = "*"
marshmallow-polyfield = "*"
requests = "*"
ipython = "*"
fire = "*"
dataclasses = "*"
schematics = "*"
pydantic = "*"
redis = "*"
pendulum = "*"
mypy = "*"
mypy-extensions = "*"
pillow = "*"
pyjwt = "*"
geetest = "*"
profilehooks = "*"


[dev-packages]

pytest = "*"


[requires]

python_version = "3.6"
