[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
xmltodict = "*"
python-telegram-bot = "*"
"beautifulsoup4" = "*"
mako = "*"
flask-mako = "*"
wtforms = "*"


[dev-packages]



[requires]

python_version = "3.6"
